.DS_STORE
__pycache__/
ssh-agent
ssh-agent.pub
.venv
.env

sample_data.csv
normal_player_sample.csv

AI_studies/other_libraries/entaoai-main

AI_studies/projects/PP1_learningGPT/documentations/langchain
AI_studies/projects/PP1_learningGPT/documentations/learn|langchain
AI_studies/practice_projects/tele_gpt/chats
